*.flv
*.gif
*.jpeg
*.jpg
*.png
*.tif
*.svg
*.mov
*.mp4
*.webm
!samples/*

*.csv
*.xls*
!data/*.csv
!data/*.xls*

*.pth
*.so
!saved_models/*.pth

__pycache__/

/node_modules

target
*.zip

desmosify_env/

.vscode/
.DS_Store
cache.json

**/Testing/**
**/Training/**

lanms.py
!.github/*