#play-area {
    width: 700px;
    padding-top: 2vw;
}

.grid {
    margin-left: 2.5px;
    margin-top: -12.5px;
    width: 50px;
    height: 57.75px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    border: 0;
    background-color: white;
    mix-blend-mode: luminosity;
    cursor: pointer;
    -webkit-clip-path: polygon(
        0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%
    );
    clip-path: polygon(
        0 25%,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        0 75%
    );
}
